:root{
    --dark: #374151;
    --darker: #1f2937;
    --darkest: #111827;
    --gray: #687280;
    --light: #EEE;
    --pink: #ec4899;
    --purple: #8b5cf6;

}
/* default tarayıcı margin ve paddingini kaldırır. */
*{ 
    box-sizing: border-box;
    margin: 0;
    font-family: 'Fira sans', sans-serif;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: var(--dark);
    color: #fff;
}

header{
    padding: 2rem 1rem;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}

header h1 {
    font-size: 2.5rem;
    font-weight: 300;
    color: var(--gray);
    margin-bottom: 1rem;
}

#new-task-form {
    display: flex;
}

input, button {
    appearance: none;
    border: none;
    outline: none;
    background: none;
}

#new-task-input {
    flex: 1 1 0%;
    background-color: var(--darker);
    padding: 1rem;
    border-radius: 1rem;
    margin-right: 1rem;
    color: var(--light);
    font-size: 1.25rem;
}

#new-task-input::placeholder {
    color: var(--gray);
}

#new-task-submit {
    color: var(--pink);
    font-size: 1.25rem;
    font-weight: 700;
    background-image: linear-gradient(to right, var(--pink), var(--purple));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: 0.4s;
}

#new-task-submit:hover {
    opacity: 0.8;   
}

#new-task-submit:active {
    opacity: 0.6;   
}
